.circle {
  width:50px;
  height:25px;
  border:2px solid #fff;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,50%);
  animation:rotate 4s infinite;
  transition:2s;
}

@keyframes rotate {
  0% {
    transform:rotate(180deg);
    background:#fff;
  }
  
  20% {
    transform:rotate(-180deg);
    background:#eee;
  }
  
  40% {
    transform:rotate(180deg);
    background:#fff;
  }
  
  100% {
    transform:rotate(-90deg);
  }
}
