@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
}

a{
  color: black;
}

a:hover{
  color: #3269AB;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn{
  width: 280px;
  height: 60px;
  border: 3px solid #27558D;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  color: black;
  cursor: pointer;
  overflow: hidden;
  font-size: 24px;
  transition: all 0.5s ease;
}

.btn:before{
  content: "FOLLOW ME";
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3269AB;
  transition: all 0.5s ease;
}

.btn:hover{
  background: #F7FFFB
}

.btn:hover:before{
  top: -50%;
}
